body {
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(135deg, #ffffff 0%, #f3e8ff 100%);
}

@media (max-width: 430px) {
  .floating-btn {
    margin-top: 210px;
    margin-right: 110px;
  }
}

